@charset "ISO-8859-1";

div a{    
	text-align:center;
	color: #3B7F66;   /* cor do texto */
}

.container {
    padding: 2px 16px;
}
.corfundo{
	background: #B9A7E8;
}
.navcolor {
	background-color: #A081E8;
}  
.corprojetos{
	margin:30px;
	background:radial-gradient(#3B7F66,#6CE5B9);     /* cor das caixas */
}
.center{
	display: block;
	text-align: -webkit-center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}